@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.box-shadow {
  color: #333333;
  background-color: #FFFFFF;
  width: 1200px;
  box-shadow: 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 40px;
  right: 40px;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

/*Ссылки в навигации*/
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.main-index {
  color: #333333;
  background-color: #FFFFFF;
  background-image: url("../images/zigzag.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, 1200px 485px;
  background-position: 50% 428px, 50% 0;
  background-repeat: no-repeat;
}

.main-logo {
  max-width: 100%;
  object-fit: contain;
  left: 371px;
  right: 371px;
}
/*При последующей стилизации выровнять <img> с текстом-лого Седоны по центру*/

/*Идентичные контейнеры с текстом перед преимуществами, сервисами и в секции "Заинтересовались?"*/
.advantages-container,
.services-container,
.search {
  text-align: center;
}

/*1/2 предложений в контейнерах перед преимуществами, сервисами и в секции "Заинтересовались?"*/
.advantages-description,
.services-description {
  color:#000000;
  background-color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/*2/2 предложений в контейнерах перед преимуществами, сервисамии и в секции "Заинтересовались?"*/
.advantages-caption,
.services-caption {
  font-family: "PT Sans", sans-serif;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
}

/*В будущем сделать выравнивание текста в блоке логичнее*/
.first-advantage {
  width: 400px;
  height: 385px;
  background-color: #82B3D3;
}

.advantages-title-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-text-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-white {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-white {
  color: #000000;
  background-color: rgba(131, 179, 211, 0);
}

.advantages-text-white {
  color: #333333;
  background-color: #82B3D3;
}

.advantages-item-grey {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-grey {
  color: #000000;
  background-color: rgba(131, 179, 211, 0);
}

.advantages-text-grey {
  color: #333333;
  background-color: rgba(131, 179, 211, 0);
}

.last-advantage {
  width: 400px;
  height: 385px;
  background-color: #82B3D3;
}
