@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button:disabled {
  background-color: #E5E5E5;
}

.box-shadow {
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  width: 1200px;
}

.page-header-logo {
  width: 140px;
  height: 64px;
  margin-left: 70px;
  position: relative;
  display: block;
}

.page-header-logo-image {
  position: absolute;
}

.page-header-logo-image:hover {
  opacity: 0.6;
}

.page-header-logo-image:focus {
  opacity: 0.6;
}

.page-header-logo-image:active {
  opacity: 0.3;
}

.navigation {
  display: flex;
  width: 892px;
  margin: 0 auto;
  margin-left: 28px;
  margin-right: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  width: 470px;
}

/*Ссылки в навигации*/
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {
  position: relative;
  cursor: default;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link:not(.navigation-link-current):hover {
  color: #756157;
}

.navigation-link:not(.navigation-link-current):focus {
  color: #756157;
}

.navigation-link:not(.navigation-link-current):active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-user {
  margin-left: auto;
  width: 180px;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  display: block;
  width: 44px;
  height: 64px;
  padding: 22px 12px;
  position: relative;
}

.search-icon,
.favorites-icon {
  fill: #000000;
}

.navigation-link:hover .search-icon,
.navigation-link:hover .favorites-icon {
  fill: #756157;
}

.navigation-link:focus .search-icon,
.navigation-link:focus .favorites-icon {
  fill: #756157;
}

.navigation-link:active .search-icon,
.navigation-link:active .favorites-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.favorites-amount {
  display: block;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  left: 20px;
  bottom: 33px;
  background-color: #7DB54F;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 5px;
}

.navigation-link:hover .favorites-amount {
  background-color: #6C9E42;
}

.navigation-link:focus .favorites-amount {
  background-color: #6C9E42;
}

.navigation-link:active .favorites-amount {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  display: block;
  width: 160px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  margin-left: 20px;
}

.navigation-button:hover,
.search-button:hover,
.hotel-card-more-button:hover {
  background-color: #615048;
}

.navigation-button:focus,
.search-button:focus,
.hotel-card-more-button:focus {
  background-color: #615048;
}

.navigation-button:active,
.search-button:active,
.hotel-card-more-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  color: #333333;
  background-color: #FFFFFF;
  background-image: url("../images/zigzag.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, 1200px 485px;
  background-position: 50% 428px, 50% 0;
  background-repeat: no-repeat;
}

.main-logo {
  max-width: 100%;
  object-fit: contain;
  left: 371px;
  right: 371px;
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

/*Идентичные контейнеры с текстом перед преимуществами, сервисами и в секции "Заинтересовались?"*/
.text-container {
  text-align: center;
}

.advantages-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 261px;
  margin-bottom: 21px;
}

/*1/2 предложений в контейнерах перед преимуществами, сервисами и в секции "Заинтересовались?"*/
.description {
  color:#000000;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  width: 620px;
}

.caption {
  margin: 0;
}

.advantages-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: #A8ACAF;
  bottom: -24px;
}

.advantages-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-accent {
  display: flex;
}

.advantages-text-content {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 85px;
}

.advantages-text-content-accent {
  background-color: #82B3D3;
}

.advantages-title-accent {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-title-accent::after {
  background-color: #A7CAE0;
}

.advantages-text-accent {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-light {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-light {
  color: #000000;
  background-color: rgba(131, 179, 211, 0);
}

.advantages-text-light {
  color: #333333;
  background-color: #82B3D3;
}

.advantages-item-dark {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title-dark {
  color: #000000;
  background-color: rgba(131, 179, 211, 0);
}

.advantages-text-dark {
  color: #333333;
  background-color: rgba(131, 179, 211, 0);
}

.advantages-img {
  order: -1;
}

.services-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 246px;
}

.description-services,
.description-offer {
  width: 505px;
  margin-bottom: 20px;
}

.services-list {
  text-align: center;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-item {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 85px;
  padding-left: 85px;
}

.services-title {
  color:#000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 100px;
  min-width: 75px;
}

.services-title-house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.services-title-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.services-title-gifts {
  background-image: url("../images/gifts.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.services-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.services-text-house {
  max-width: 172px;
}

.services-text-gifts {
  max-width: 210px;
}

.services-item:nth-of-type(even) {
  background-color: #FFFFFF;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 406px;
}

.search-button {
  width: 375px;
  height: 52px;
  padding: 8px 10px;
  font-size: 20px;
  margin-top: 54px;
}

.subscribe {
  color: #FFFFFF;
  background-color: #333333;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-caption {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 54px;
  width: 475px;
}

.subscribe-form {
  color: #F2F2F2;
}

.subscribe-button {
  padding: 8px 50px;
  height: 52px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  border-color: transparent;
}

.subscribe-button:hover,
.hotel-card-favorites-button:hover,
.button-submit:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus,
.hotel-card-favorites-button:focus,
.button-submit:focus {
  background-color: #68A2CA;
}

.subscribe-button:active,
.hotel-card-favorites-button:active,
.button-submit:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
  height: 120px;
  display: flex;
}

.page-footer-container {
  display: flex;
  margin: 40px auto 30px;
  width: 1060px;
}

.footer-social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.footer-social-item {
  margin: auto;
  width: 47px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.footer-social-icon {
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
color: rgba(117, 97, 87, 0.3);
}

.page-footer-logo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.page-footer-logo-icon {
  fill: #000000;
}

.page-footer-logo-icon:hover {
  fill: #756157;
}

.page-footer-logo-icon:focus {
  fill: #756157;
}

.page-footer-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.main-inner {
  color: #333333;
  background-color: #FFFFFF;
  padding: 0;
}

.inner-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 70px;
}

.background-catalog {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  margin: 0;
}

/*Посмотреть внимательно позиционирование хлебных крошек*/

.breadcrumbs {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  height: 21px;
  margin-bottom: 40px;
  margin-left: 70px;
  align-items: center;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  margin-left: 10px;
  background-image: url("../images/breadcrumbs/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 8px;
  height: 10px;
}

.homepage-icon {
  fill: #ffffff;
}

.homepage-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.homepage-icon:active {
  fill: color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  width: 13px;
  height: 21px;
}

.breadcrumbs-text {
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
}

.breadcrumbs-text:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-text:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  margin: 0 auto;
  margin-left: 70px;
  width: 1060px;
}

.catalog-filter-group {
  width: 151px;
  min-height: 157px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  margin-bottom: 73px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;
}

.button-submit {
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  width: 191px;
  height: 36px;
  border-radius: 4px;
  border-color: transparent;
  background-color: transparent;
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 20px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  color: #ffffff;
}

.button-reset:active {
  border: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.results {
  color: #333333;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 1060px;
  margin: 0 auto;
}

.results-found {
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  /*Значение шире, чем в макете, т.к. кол-во может быть больше*/
  min-width: 370px;
  margin: 0;
  margin-right: auto;
}

.sorting-container {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  max-width: 1060;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.select-control {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  margin-right: 70px;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  opacity: 0.3;
}

.sorting-buttons {
  display: flex;
}

.sorting-buttons .button:not(:last-child) {
  margin-right: 8px;
}

.sorting-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.sorting-button:hover {
  border: 2px solid #000000;
}

.sorting-button:focus {
  border: 2px solid #68A2CA;
}

.sorting-button:active {
  border: 2px solid #000000;
}

.hotels-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
}

.hotel-card {
  padding: 20px;
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  text-align: left;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-card-image {
  object-fit: cover;
}

.hotel-card-image-link {
  grid-column: 1 / -1;
}

.hotel-card-title-link {
  grid-column: 1 / -1;
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card p {
  margin: 0;
}

.hotel-card-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-card-more-button {
  min-width: 140px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-card-favorites-button {
  min-width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars {
  color: #82B3D3;
  font-size: 18px;
}

.stars-1 {
  width: 18px;
  background-image: url("../images/stars.svg");
  background-size: 18px 17px;
  background-repeat: repeat-x;
  background-position: left center;
}

.stars-2 {
  width: 46px;
  background-image: url("../images/stars.svg");
  background-size: calc(18px + 6px) 17px;
  background-repeat: repeat-x;
  background-position: left center;
}

.stars-3 {
  width: 70px;
  background-image: url("../images/stars.svg");
  background-size: calc(18px + 6px) 17px;
  background-repeat: repeat-x;
  background-position: left center;
}

.stars-4 {
  width: 94px;
  background-image: url("../images/stars.svg");
  background-size: calc(18px + 6px) 17px;
  background-repeat: repeat-x;
  background-position: left center;
}

.stars-5 {
  width: 118px;
  background-image: url("../images/stars.svg");
  background-size: calc(18px + 6px) 17px;
  background-repeat: repeat-x;
  background-position: left center;
}


.rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background-color: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-card-favorites-pushed-button {
  min-width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #7DB54F;
  border-color: transparent;
}

.hotel-card-favorites-pushed-button:hover {
  background-color: #6C9E42;
}

.hotel-card-favorites-pushed-button:focus {
  background-color: #6C9E42;
}

.hotel-card-favorites-pushed-button:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.pagination {
  background-color: #FFFFFF;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 0;
  margin-top: 40px;
  height: 60px;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:not(.pagination-current):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-dots {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.subscribe-inner {
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
  height: 415px;
}

.subscribe-caption-inner {
  color: #333333;
}

.subscribe-form-inner {
  color: #000000;
}
